* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  background-color: #13161c;
  max-width: 100svw;
  min-height: 100svh;
}

.bg-gradient {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  min-height: 100svh;
  z-index: 1;
  overflow-x: hidden;
}

.bg-gradient:after,
.bg-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.bg-gradient:before {
  background-size: 100%;
  content: "";
  background-color: #13161c;
  background-image: radial-gradient(
      37.88% 68.62% at 50% 0,
      rgba(15, 25, 112, 0.3) 0,
      rgba(0, 49, 104, 0) 80%
    ),
    radial-gradient(
      10% 10% at 50% 0,
      rgba(15, 25, 112, 0.5) 0,
      rgba(0, 49, 104, 0.4) 90%,
      rgba(0, 49, 104, 0) 0
    ),
    radial-gradient(
      100% 28.09% at 100% 10%,
      rgba(15, 25, 112, 0.2) 0,
      rgba(0, 49, 104, 0.1) 80%,
      rgba(0, 49, 104, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(0, 49, 104, 0.075) 35.79%,
      rgba(0, 49, 104, 0.05) 80%,
      #13161c
    ),
    radial-gradient(
      74.84% 135.56% at 100% 10%,
      rgba(0, 49, 104, 0.5) 0,
      #13161c 80%
    );
  background-repeat: no-repeat;
  /* background-size: 220%; */
  height: 100svh;
  z-index: -2;
  filter: blur(50px);
  top: -50px;
  left: -50px;
  right: -50px;
  width: calc(100% + 100px);
  overflow-x: hidden;
}

.banner-navidad {
  background: linear-gradient(
      180deg,
      #ffffff1a 0%,
      #fdc05b4d 2.43%,
      #ffffff1a 5.45%,
      #ffffff00 11.74%
    ),
    linear-gradient(
      180deg,
      #00000000 88.26%,
      #0000001a 94.55%,
      #00000033 97.57%
    ),
    url("https://static.platzi.com/media/uploads/stars_bg_e45a0554b4.png"),
    linear-gradient(0deg, #061c3e 8.2%, #b83333 100%),
    linear-gradient(
      90deg,
      #061c3e 8.2%,
      #b83333 35.41%,
      #fd5661 82.91%,
      #061c3e 100%
    );
  color: #ffffff;
  --ctaBorderColor: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(253, 192, 91, 0.3) 2.43%,
      rgba(255, 255, 255, 0.1) 5.45%,
      rgba(255, 255, 255, 0) 11.74%
    ),
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 88.26%,
      rgba(0, 0, 0, 0.1) 94.55%,
      rgba(0, 0, 0, 0.2) 97.57%
    ),
    #061c3e;
}

.banner-navidad-end {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(253, 192, 91, 0.3) 2.43%,
      rgba(255, 255, 255, 0.1) 5.45%,
      rgba(255, 255, 255, 0) 11.74%
    ),
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 88.26%,
      rgba(0, 0, 0, 0.1) 94.55%,
      rgba(0, 0, 0, 0.2) 97.57%
    ),
    #061c3e;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.019rem;
  text-transform: none;
  text-decoration: none;
  line-height: 1.25rem;
}

.bg-black-opacity {
  background: rgba(0, 0, 0, 0.5) !important;
}

.bg-select ul {
  background: #1d2029;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  display: block;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
}

.searchInput:focus-visible {
  border-color: transparent;
}

.input-shadow {
  box-shadow: 0 0 120px 0 rgba(15, 25, 112, 0.251);
}

.bg-curse {
  position: relative;
}

.bg-curse:before {
  background-color: #1d2029;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-curse:after {
  content: "";
  position: absolute;
  /* Necesario para posicionar correctamente */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  /* Asegura que esté detrás del contenido */
  background-image: radial-gradient(circle, #39909d 70%, #1d2029 50%);
  background-size: 25%;
  background-position-y: 30px;
  background-position-x: 185px;
  background-repeat: no-repeat;
  filter: blur(30px);
  opacity: 0.9;
}

.bg-curse-icon {
  position: relative;
}

.bg-curse-icon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-radius: 4rem;
  z-index: -1;
  background-color: #59a15b;
  filter: blur(20px);
  opacity: 1;
}

ul.line-descripcion {
  list-style-type: none;
  padding-left: 0;
}

ul.line-descripcion li {
  display: flex;
  align-items: center;
  /* Centra el texto verticalmente */
  margin: 10px 0;
  padding-left: 30px;
  opacity: 0.5;
  /* Espacio a la izquierda para la línea */
}

ul.line-descripcion li:hover {
  opacity: 1;
}

ul.line-descripcion li div p:hover {
  color: #fff;
}

.line {
  width: 4px;
  height: 100%;
  background-color: #0f6a48;
  margin-right: 10px;
  /* Espacio entre la línea y el texto */
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  /* Ajusta el tamaño máximo según sea necesario */
  height: auto;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  /* Efecto suave de transición */
}

.image-container {
  position: relative;
  width: 100%;
  padding-top: 20px;
  max-width: 600px;
  margin-top: 50px;
  overflow: hidden;
}

.bg-profesores {
  background: linear-gradient(
      180deg,
      rgba(15, 25, 112, 0.48),
      rgba(15, 25, 112, 0) 42.31%
    ),
    radial-gradient(
      326.4% 182.46% at 100% 0,
      rgba(15, 25, 112, 0.368) 0,
      rgba(0, 170, 99, 0.4) 25.86%,
      rgba(0, 196, 114, 0.4) 26.01%,
      rgba(6, 207, 195, 0.204) 87.98%,
      rgba(11, 216, 130, 0) 100%
    );
}

.separator {
  color: #c4c8ce;
  display: block;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1.25rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.bg-curse-page {
  background-color: #0c1633;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 100% 0;
  color: #eff3f8;
  background-image: url(https://static.platzi.com/media/uploads/school_bg_computerscience_2x_efd708987d.png?updated_at=2022-08-11T13:58:02.011Z);
}

.bg-sectiones {
  background: #0c1633;
}

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
